@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	background-color: #1f2833;
	color: white;
	border-color: white;
}
.btns button {
	border: 2px solid white;
	/* box-shadow: 2px 2px 8px white,-2px -2px 8px white; */
}
.btns button:hover {
	color: black;
	box-shadow: 2px 2px 8px white, -2px -2px 8px white;
}
.first {
	background-color: inherit;
	color: white;
	font-size: 20px;
	font-weight: 600;
}
.first span {
	background-color: inherit;
	font-size: 1rem;
}
/* .interface div{
    background-color: rgba(66, 201, 201, 0.159);
} */
.header {
	/* background: black;
    color: white; */
}

.style:hover {
	box-shadow: 2px 2px 8px rgb(151, 148, 148), -2px -2px 8px rgb(151, 148, 148);
	transform: scale(1.025);
	transition: all 0.2s;
	border-color: rgb(184, 192, 200);
}
.style{
	background-color:#132d4da6;
	border-color: black;
	/* color: black; */
}
